*{
    font-family:微軟正黑體;  
  }
  
  body{
    background-color: white;
    background-image: url("../images/hero-bg_login.jpg");
  }
  
  #username, #email ,  #password, h3, #fullname, #comfirm_password,#username2, #password2 , #key,#uiBar{
    width: 200px;
    height: 20px;
    margin: 10px;
    color: #778899	;
  }
  
  p{
    margin: 20px;
    color: #FFA500;
  }

  h5{
    margin: 20px;
    color: #778899;
  }
  
  h5:hover{
    color: #FFA500;
  }
  
  h2{
    color: #EDEDED;
    padding: 30px;
  }

  #container1, #container2{
    
    padding: 10px;
    width: 230px;
    height: 320px;
    background-color: white;
    border-radius: 5px;
    border-top: 10px solid #778899	;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    
    /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 100px;
      
  }
  
  #container3{
    
    padding: 10px;
    width: 230px;
    height: 230px;
    background-color: white;
    border-radius: 5px;
    border-top: 10px solid #778899	;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    
    /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 100px;
      
  }

  .system_name{
    /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 100px;
    text-align:center; 
    
  }
  
  .submit{
    color: white;  
    background: #778899	;
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
  }
  
  .submit:hover{
    background: #db6937;
  }
  
  #container2{
    visibility: hidden;   /*剛開始消失*/
    height: 350px;
  }
  
  
  #copyright{
    text-align: center;
    color: #a3a2a3;
    margin: -200px 0px 0px 0px;
    font-size: 14px;
  }
  
  input{
    padding: 5px;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 5px;
  }

  /* UI ball*/
  .race-by {
    margin: 10px;
    --uib-size: 200px;
    --uib-speed: 3.0s;
    --uib-color: black;
    --uib-line-weight: 10px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--uib-line-weight);
    width: var(--uib-size);
    border-radius: calc(var(--uib-line-weight) / 2);
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    }

    .race-by::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--uib-color);
    opacity: 0.1;
    }

    .race-by::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: calc(var(--uib-line-weight) / 2);
    animation: raceBy var(--uib-speed) ease-in-out infinite;
    transform: translateX(-100%);
    background-color: var(--uib-color);
    }

    @keyframes raceBy {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
    }